.App {
  text-align: center;
  padding: 1em 0 1em 0;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.AuthModalToggle {
  margin: 1em;
}

.MainContainer {
  margin-bottom: 2em;
}
